<% if @data[:success] == true %>
	$("#dlg_add_category .alert-danger span").html("");
	$(".alert-danger").hide();

    $("#dlg_add_category").modal('toggle');
    location.reload();
<% else %>
    $("#dlg_add_category .alert-danger").show();
    $("#dlg_add_category .alert-danger span").html("<%= @data[:message] %>");
<% end %>