<style type="text/css">
    .theader-center {
        text-align: center;
    }

    .td-content-center {
        vertical-align: middle;
        text-align: center;
    }
</style>
<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-red sbold uppercase">Categories</span>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-hover table-bordered" id="tbl_categories">
            <thead>
                <tr style="text-align:center">
                    <th class="theader-center"> No </th>
                    <th class="theader-center" width="10%"> Image </th>
                    <th class="theader-center"> Name </th>
                    <th class="theader-center"> Description </th>
                    <th class="theader-center" width="15%"> Topics count </th>
                    <th class="theader-center" width="5%">  </th>
                </tr>
            </thead>
            <tbody>
            
            <% @categories.each_with_index do |category, index| %>
                <tr">
                    <td style="vertical-align: middle; text-align: center;"> <%= index + 1 %> </td>
                    <td style="vertical-align: middle; text-align: center;">
                    <% if category[:photo_thumb_url] == "missing.png" %>
                        No Image
                    <% else %>
                        <img src="<%= category[:photo_thumb_url] %>" style="height: 80px;" >
                    <% end %>
                    </td>
                    <td style="vertical-align: middle; text-align: center;"> <%= category[:name] %></td>
                    <td style="vertical-align: middle; text-align: center;"> <%= category[:description] %></td>
                    <td style="vertical-align: middle; text-align: center;"> <%= category[:topics_count] %></td>
                    <td style="vertical-align: middle; text-align: center;"">
                        <a class="btn-delete-category" onclick="showDeleteDlg(<%= category[:id] %>, '<%= category[:name] %>')"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            <% end %>
        
            </tbody>
        </table>
    </div>
    <div style="text-align: right;">
        <a href="#dlg_add_category" class="btn green btn-outline sbold" data-toggle="modal" style="margin: 20px;">Add Category</a>
    </div>
</div>

<div class="modal fade draggable-modal" id="dlg_add_category" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Category</h4>
            </div>
            <div class="modal-body">
                <%= form_tag({controller: "dashboard/categories", action: "create"}, method: "post", remote: true, :authenticity_token => true, id: "add_category_form", :multipart => true, :format => "js") do %>
                    <p class="hint">Enter category details below: </p>

                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span> Enter category name. </span>
                    </div>

                    <div class="form-group">
                    <%= text_field(:category, :name, placeholder: 'Category name', class: 'form-control placeholder-no-fix', autocomplete: 'off') %>
                    <p>
                    <%= text_area(:category, :description, placeholder: 'Description', class: 'form-control placeholder-no-fix', autocomplete: 'off') %>
                    </p>
                    <%= file_field(:category, :image, class: 'form-control') %>
                    </div>

                    <div class="form-actions" style="text-align: right;">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal" style="margin-right: 10px;">Close</button>
                        <button type="submit" class="btn green">Save changes</button>
                    </div>
                <% end %>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade draggable-modal" id="dlg_edit_category" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Category</h4>
            </div>
            <div class="modal-body">Category details</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade draggable-modal" id="dlg_delete_category" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Remove Category</h4>
            </div>
            <div class="modal-body">
            
            
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter category name. </span>
                </div>
                <span id="modal_content"></span>
                <input type="hidden" name="category_id" id="category_id" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green" id="btn_delete_category">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function() {
    // $("#add_category_form").submit(function(data) {
    //     console.log("trying to submit add_category_form");

    //     console.log($("#add_category_form").attr("action"));

    //     var formData = new FormData($(this)[0]);
    //     console.log(formData);

    //     console.log("abcdefghij");
    //     console.log($("#add_category_form").serialize());

    //     // hideErrorMsg();

    //     var category_name = $("#add_category_form #category_name").val();
    //     var description = $("#add_category_form #category_description").val();

    //     if(!category_name.trim())
    //     {
    //         showErrorMsgOnAdd("Enter category name.");
    //         return;
    //     }

    //     $.ajax({
    //         url: $("#add_category_form").attr("action"),
    //         type: "post",
    //         dataType: "json",
    //         data: $("#add_category_form").serialize()
    //     }).success(function(data) {
    //         var success = data.success;
            
    //         if(success == true)
    //         {
    //             hideErrorMsg();
    //             $("#dlg_add_category").modal('toggle');
    //             location.reload();
    //             console.log(data.message);
    //         }
    //         else
    //         {
    //             console.log("add category failed");
    //             showErrorMsgOnAdd(data.message);
    //         }
    //         return true
    //     }).fail(function(data) {
    //         console.log("failed");
    //         showErrorMsgOnAdd("Can't add this category. Please retry again.");
    //     });
    //     return false
    // });

    $("#btn_delete_category").click(function() {
        console.log("delete category button clicked!");

        hideErrorMsg();

        var id = $("#dlg_delete_category #category_id").val();

        if (id > 0) {
            $.ajax({
                url: "categories/" + id,
                type: "delete",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                remote: true,
                dataType: "json",
            }).success(function(data) {
                var success = data.success;

                if(success == true)
                {
                    hideErrorMsg();
                    $("#dlg_delete_category").modal('toggle');
                    location.reload();
                    console.log(data.message);
                }
                else
                {
                    console.log("delete failed!");
                    showErrorMsgOnDelete(data.message);
                }
                return true
            }).fail(function(data) {
                console.log("failed");
                showErrorMsgOnDelete("Can't delete this category. Please retry again.");
            });
        }
        else
        {
            showErrorMsgOnDelete("Can't remove this category");
        }
    });
})

function showDeleteDlg(id, category_name)
{
    hideErrorMsg();

    console.log("id : " + id + ", category name : " + category_name);
    $("#dlg_delete_category #modal_content").text("Would you remove '" + category_name +"'?");
    $("#dlg_delete_category #category_id").val(id);
    $("#dlg_delete_category").modal();
}

function hideErrorMsg()
{
    $(".alert-danger").hide();
}

function showErrorMsgOnAdd(msg)
{
    $("#dlg_add_category .alert-danger").show();
    $("#dlg_add_category .alert-danger span").html(msg);
}

function showErrorMsgOnDelete(msg)
{
    $("#dlg_delete_category .alert-danger").show();
    $("#dlg_delete_category .alert-danger span").html(msg);
}

</script>