<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-red sbold uppercase">Users</span>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
            <thead>
                <tr>
                    <th> No </th>
                    <th> User Photo </th>
                    <th> Username </th>
                    <th> Email </th>
                    <th> Member Since </th>
                    <th> SignIn Count </th>
                    <th> IsAdmin </th>
                </tr>
            </thead>
            <tbody>
            
            <% @users.each_with_index do |user, index| %>
            
                <tr>
                    <td> <%= index + 1 %> </td>
                    <td style="vertical-align: middle; text-align: center;"> 
                    <% if user[:photo_thumb_url] == "missing.png" %>
                        No Image
                    <% else %>
                        <img src="<%= user[:photo_url] %>" style="height: 80px;" >
                    <% end %>
                    </td>
                    <td> <%= user[:username] %></td>
                    <td> <%= user[:email] %></td>
                    <td> <%= user[:member_since] %></td>
                    <td> <%= user[:sign_in_count] %></td>
                    <td> <%= user[:is_admin] %></td>
                </tr>
        
            <% end %>
        
            </tbody>
        </table>
    </div>
</div>