<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-red sbold uppercase">Topics</span>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-hover table-bordered" id="tbl_categories">
            <thead>
                <tr>
                    <th> No </th>
                    <th> Topic Image </th>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Category name </th>
                    <th> User </th>
                    <th> Opinions count </th>
                    <th width="5%">  </th>
                </tr>
            </thead>
            <tbody>
            
            <% @topics.each_with_index do |topic, index| %>
                <tr>
                    <td> <%= index + 1 %> </td>
                    <td style="vertical-align: middle; text-align: center;"> 
                    <% if topic[:photo_thumb_url] == "missing.png" %>
                        No Image
                    <% else %>
                        <img src="<%= topic[:photo_thumb_url] %>" style="height: 80px;" >
                    <% end %>
                    </td>
                    <td> <%= topic[:name] %></td>
                    <td> <%= topic[:description] %></td>
                    <td> <%= topic[:category_name] %></td>
                    <td> <%= topic[:user_name] %></td>
                    <td> <%= topic[:opinions_count] %></td>
                    <td align="center">
                        <a class="btn-delete-topic" onclick="showDeleteDlg(<%= topic[:id] %>, '<%= topic[:name] %>')"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            <% end %>
        
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade draggable-modal" id="dlg_delete_topic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Remove Category</h4>
            </div>
            <div class="modal-body">
            
            
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter topic name. </span>
                </div>
                <span id="modal_content"></span>
                <input type="hidden" name="topic_id" id="topic_id" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green" id="btn_delete_topic">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function() {

    $("#btn_delete_topic").click(function() {
        console.log("delete topic button clicked!");

        hideErrorMsg();

        var id = $("#dlg_delete_topic #topic_id").val();

        if (id > 0) {
            $.ajax({
                url: "topics/" + id,
                type: "delete",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                remote: true,
                dataType: "json",
            }).success(function(data) {
                var success = data.success;

                if(success == true)
                {
                    $("#dlg_delete_topic").modal('toggle');
                    location.reload();
                    console.log(data.message);
                }
                else
                {
                    console.log("delete failed!");
                    showErrorMsg(data.message);
                }
                return true
            }).fail(function(data) {
                console.log("failed");
                showErrorMsg("Can't delete this topic. Please retry again.");
            });
        }
        else
        {
            showErrorMsg("Can't remove this topic");
        }
    });
})

function showDeleteDlg(id, topic_name)
{
    console.log("id : " + id + ", topic name : " + topic_name);
    $("#dlg_delete_topic #modal_content").text("Would you remove '" + topic_name +"'?");
    $("#dlg_delete_topic #topic_id").val(id);
    $("#dlg_delete_topic").modal();
}

function hideErrorMsg()
{
    $(".alert-danger").hide();
}

function showErrorMsg(msg)
{
    $(".alert-danger").show();
    $(".alert-danger span").html(msg);
}

</script>